*{
  box-sizing: border-box;
}



.roma{
  width: 30vw;
  height: 31vh;
  background-image: url(../img/roma.jpg);
  background-size: cover;
  position: relative;
  margin: 10px;
}

.shadow{
    box-shadow: 3px 3px #000000;
}



.name_city{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}

.napoli{
  width: 30vw;
  height: 31vh;
  background-image: url(../img/napoli.jpg);
  background-size: cover;
  position: relative;
  /* margin-bottom: 5px; */
  margin: 10px;


}

.milano{
  width: 30vw;
  height: 31vh;
  background-image: url(../img/Milano.jpg);
  background-size: cover;
  position: relative;
  margin: 10px;

}
