*{
  box-sizing: border-box;
}

.city{
  width: 30vw;
  height: 31vh;
  background-size: cover;
  position: relative;
  margin: 10px;
}

.roma{
  background-image: url(../img/roma.jpg);
}

.shadow{
    box-shadow: 3px 3px #000000;
}

.name_city{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}

.napoli{
  background-image: url(../img/napoli.jpg);
  }

.milano{
  background-image: url(../img/Milano.jpg);
}
